#heroslider .slider-abs{
    position: absolute;
    z-index: 1;
}
#heroslider .slider-abs img{
    position: absolute;
    z-index: 1;
}
#heroslider .slider-abs img.left{
    transform: translateX(-100%);
}
 
/* styles for tiles and tile container */
.main-container{
   
    margin-top:0px;    
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWAQORt6BEig5MjwewdnwTGB6J9vkhPpw0KA&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffffaf;
    background-blend-mode: color;
    background-position: center;
}

@media(min-width:768px){
    .main-container{
        padding-top:20px;
    }
    
    .container-tiles{
        padding: 0% 10%;
        padding-top:20px;
        display:flex;
        justify-content: center;

    }

  
    
}

.main-container div{
   
    /* padding:10px; */

    /* border:1px solid #ccc; */
}
/* flex ratio 2:1 left-tile : right-tile respectively */
.left-tile{
    flex:1.5; 
    padding: 10px;
    min-height:100px;
  
}
.right-tile{
    flex:1;
    padding: 10px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile-content{
  padding: 10px;
    margin-top:30px;
}

.tile-head{
  padding: 10px;
    display:flex;
    justify-content: center;
}




#wrapper, #wrapper-2,#wrapper-3,#wrapper-4,#wrapper-5 {
    max-width: 100%;
    overflow: hidden;
    position : relative;

    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
.readm{
    padding : 2% 15%;
}
.readm .btn,.tran2-btn{
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    width: fit-content;
    cursor: pointer;
}
.readm h2{
    padding: 20px;
}

::-webkit-scrollbar{
    width: 2px;
    background: transparent;
}


@media(min-width:768px){
    .readm,.main-container,p{
        font-size: 1.1rem;
    }
    
}
._injecthere_{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ffffffaf;
    background-blend-mode: color;
}