#heroslider .slider-abs{
    position: absolute;
    z-index: 1;
}
#heroslider .slider-abs img{
    position: absolute;
    z-index: 1;
}
#heroslider .slider-abs img.left{
    transform: translateX(-100%);
}
 
/* styles for tiles and tile container */
.main-container{
   
    margin-top:0px;
}

@media(min-width:768px){
    .main-container{
        margin-top:20px;
        margin-left:20%;
        margin-right:20%;
    }
    
    .container-tiles{
        margin-top:10px;
        display:flex;
        justify-content: center;

    }

  
    
}

.main-container div{
   
    /* padding:10px; */

    /* border:1px solid #ccc; */
}
/* flex ratio 2:1 left-tile : right-tile respectively */
.left-tile{
    flex:2; 
    padding: 10px;
    min-height:200px;
  
}
.right-tile{
    flex:1;
    padding: 10px;
    min-height: 200px;
}

.tile-content{
  padding: 10px;
    margin-top:30px;
}

.tile-head{
  padding: 10px;
    display:flex;
    justify-content: center;
}




#wrapper, #wrapper-2,#wrapper-3,#wrapper-4 {
    width: 100%;
    overflow: hidden;
    position : relative;

    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
.readm{
    padding : 2% 15%;
}
.readm .btn,.tran2-btn{
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    width: fit-content;
    cursor: pointer;
}
.readm h2{
    padding: 20px;
}

::-webkit-scrollbar{
    width: 2px;
    background: transparent;
}


